@media screen and (max-width: 992px) {
	#breadcrumb{
		padding: 8px 0;
	}
	
	.breadcrumb-item, .content-visual, .section-list .content-description{
		display: none;
	}
	
	#breadcrumb-list li:last-child{
		display: block;
	}
	
	.main-article{
		max-height: 150px;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		background: #fff;
		color: #000;
	}
	
	.main-article-title{
		padding: 0;
		margin: 0 0 10px 0;
	}
	
	.main-article-title{
		font-size: 2em;
	}
	.main-action-link{
		width: 100%;
		text-align: center;
		background: #1269b0;
	}
	
	.main-action-link:hover{
		background: #333;
	}
	
	.section-list{
		padding: 16px 0;
	}
	
	.section-list-item{
		width: 100%;
		float: none;
		
	}
	
	.section-list-item:nth-child(odd), 
	.section-list-item:nth-child(even){
		padding: 0 0 0 0;
	}
	
	.section-list .content-infos, 
	.section-link{
		width: 100%;
		min-height: 30px;
	}
	
	.section-list .content-infos{
		padding: 5px;
	}
	
	.section-link .content-title{
		margin: 0;
		padding: 0;
		font-size: 1em;
	}
	
	.section-link .content-title:after{
		content: "+";
		position: absolute;
		right: 0;
		padding-left: 10px;
	}
	
	.focus-article, .focus-article .content-title{
		margin: 0;
		padding: 0;
	}
	
	.focus-article .content-infos,
	.focus-article .content-infos h2{
		padding: 0;
		width: 100%;
	}
	
	.focus-article .content-infos h2{
		margin: 5px 0 10px 0;
	}
	
	.focus-description{
		text-align: justify;
	}
	
	#footer-content{
		text-align: center;
	}
}